body {
    font-size: 75% !important;
    background: #ffffff;
}

.ui-widget,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
    font-size: 100% !important;
}

.ui-layout-unit {
    border: 0;
}

.ui-panelgrid {
    border: 0;
    padding: 5px;
}

.mainPanel {
    border: none;
    background: #ffffff;
}

.mainPanel > .ui-panel-titlebar {
    background: #0e2c54;
    max-height: 90px;
    padding: 0;
}

.featuresMenu {
    position: absolute;
    right: 20px;
    top: 46px;
}

.adminMenu {
    background: #0e2c54;
    color: #ffffff;
}

.loginPanel {
    width: 272px;
    height: 150px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.formElement {
    padding-top: 2px;
    padding-right: 2px;
}

.alignColumnTop {
    vertical-align: top;
}

.borderLess {
    border: none !important;
}

.browseTable {
    width: 600px;
    min-height: 200px;
}

.borderLessPanelGrid tr, .borderLessPanelGrid td {
    border: none !important;
}

.menuPanel {
    width: 180px;
    min-height: 600px;
}

.holidayAllowancePanel {
    width: 240px;
}

.holidayAllowancePie {
    width: 220px;
    height: 220px;
}

.jqplot-series-canvas {
    background:#ffffff;
}

.holidayRequestPanel {
    width: 350px;
    min-height: 500px;
    border: none !important;
}

.pendingRequestPanel {
    width: 500px;
    min-height: 500px;
}

.requestNewHolidayPanel {
    width: 220px;
}

.requestHistoryPanel {
    min-height: 505px;
}

.holidayCalendarPanel {
    width: 600px;
}

.calTextField {

}

.employeeAbsenceTable {
}

.absenceDateCol {
    width: 80px !important;
}

.absenceTypeCol {
    width: 80px !important;
}

.absenceNameCol {
    width: 130px !important;
}

.absenceStatusCol {
    width: 180px !important;
}

.absenceActionCol {
    width: 100px !important;
}

.calTextField input{
    background: #ffffff !important;
    color: #0e2c54 !important;
}

.loginTextField {
    background: #ffffff !important;
    color: #0e2c54 !important;
}

.empTextField {
    background: #ffffff !important;
    color: #0e2c54 !important;
    float: right;
    width: 170px;
}

.deptTextField {
    background: #ffffff !important;
    color: #0e2c54 !important;
    float: right;
    width: 170px;
}

.empDropDownField {
    background: #ffffff !important;
    color: #0e2c54 !important;
}

.deptDropDownField {
    background: #ffffff !important;
    color: #0e2c54 !important;
    width: 178px !important;
}

.calendarField {
    background: #ffffff !important;
    color: #0e2c54 !important;
}

.holidayAuth {
    background: #1d5198;
}

.holidayAwaitingAuth {
    background: #e7ecf5;
    color: #0e2c54;
}

.holidayTotal {
    width:5px;
}

.holidayUsed {
    width:5px;
}

td .holidayUsed{

}

.holidayRemaining {
    width:10px;
}

td .holidayRemaining{

}

.floatRight {
    float: right;
}
