body {
    font-size: 75% !important;
    background: #0e2c54;
}

.ui-widget,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
    font-size: 100% !important;
}

.ui-layout-unit {
    border: 0;
}

.ui-panelgrid {
    border: 0;
    padding: 5px;
}

.mainPanel {
    border: none;
    background: #0e2c54;
}

.loginPanel {
    width: 270px;
    height: 135px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.formElement {
    padding-top: 2px;
    padding-right: 2px;
}

.alignColumnTop {
    vertical-align: top;
}

.browseTable {
    width: 600px;
    min-height: 200px;
}

.borderLessPanelGrid tr, .borderLessPanelGrid td {
    border: none !important;
}

.menuPanel {
    width: 180px;
    min-height: 600px;
}

.holidayAllowancePanel {
    width: 160px;
}

.holidayRequestPanel {
    width: 350px;
    min-height: 500px;
}

.requestNewHolidayPanel {
    width: 315px;
}

.requestHistoryPanel {
    width: 315px;
    min-height: 250px;
}

.holidayCalendarPanel {
    width: 600px;
}

.holidayAwaitingAuth {
    background: gold;
}

.holidayAuth {
    background: green;
}

.holidayDeclined {
    background: red;
}
