body {
    font-size: 75% !important;
}

.ui-widget,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
    font-size: 100% !important;
}

.ui-layout-unit {
    border: 0;
}

.ui-panelgrid {
    border: 0;
    padding: 5px;
}

.mainPanel {
    border: none;
    width: 900px;
}

.loginPanel {
    width: 270px;
    height: 135px;
    position: absolute;
    left: 300px;
}

.formElement {
    padding-top: 2px;
    padding-right: 2px;
}
