<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <logger name="com.noveria.absencemanagement.service.department.DepartmentService" level="DEBUG"/>
    <logger name="com.noveria.absencemanagement.view.department.controller.DepartmentController" level="DEBUG"/>
    <logger name="com.noveria.absencemanagement.model.department.dao.DepartmentDAO" level="DEBUG" />

    <logger name="com.noveria.absencemanagement.service.employee.EmployeeService" level="DEBUG"/>
    <logger name="com.noveria.absencemanagement.view.employee.controller.EmployeeController" level="DEBUG"/>
    <logger name="com.noveria.absencemanagement.model.employee.dao.EmployeeDAO" level="DEBUG" />

    <logger name="com.noveria.absencemanagement.view.holiday.management.model.HolidayManagementModel" level="DEBUG" />
    <logger name="com.noveria.absencemanagement.view.holiday.management.controller.HolidayManagementController" level="DEBUG" />
    -->

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>